@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
}

:root{
    --color-text: #FF9F34;
    --secondo-color:#0072F0;
    --font-text: Bebas Neue;
    --second-font: 'Lato';

}

body{
    background-color: #fff;
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
    box-sizing: border-box;

}



/*style for about*/
.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    filter: brightness(0.8); 
    transition: filter 0.5s;
}

.team-member {
    text-align: center;
}

.team-member h5 {
    margin-top: 15px;
    font-weight: bold;
}

.team-member p {
    font-style: italic;
}

.text-center h2 {
  color: var(--color-text);
  font-family: var(--font-text);
}

/* Ajusta el estilo de la sección */
.video-container {
    max-width: 100%;
    height: auto;
}

.video-container video {
    width: 100%;
    height: auto;
}

/*style for section container(quienes somos)*/


.mb-4 {
    font-family: var(--font-text);
    color: var(--secondo-color);
    font-size: 35PX;
}

.lead{
    font-family: var(--second-font);
    color: black;
}
