@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
}

:root{
    --color-text: #FF9F34;
    --secondo-color:#0072F0;
    --font-text: Bebas Neue;
    --second-font: 'Lato';

}

body{
    background-color: #fff;
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
    box-sizing: border-box;

}

main{
    overflow: hidden;
}


.container-logo p{
    font-family: "Bebas Neue";
    font-size: 40px;
}

.banner-section {
    background-image: url('/assets/Bikerlog-image-main.png'); /* Imagen de fondo del banner */
    background-size: cover;
    border:2px solid red;
    background-position: center;
    background-repeat: repeat;
    height: 600px;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 100px;
    justify-content: center;
    align-items: start;
}

.banner-section h1{
    color: white;
    margin-left: 80px;
    font-size: 150px;
    font-family: "Bebas Neue";
    line-height: 140px;
    margin-bottom: 0;
}
.banner-section p {
    color: white;
    margin-left: 80px;
    font-size: 30px;
    background-color: black;
    padding: 6px 10px;
}

.banner-section button {
    padding: 8px 40px;
    border-radius: 10px;
    font-family: "Bebas Neue";
    font-size: 30px;
}

/* Alinear el contenido a la izquierda */
.banner-content {
    max-width: 600px; 
    padding-left: 30px; 
}

.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.banner-content .btn {
    font-size: 1.25rem;
    padding: 10px 20px;
}

/*styles for card*/
.card {
    height: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Ajustar las imágenes para que no se distorsionen y se mantengan dentro del contenedor */
.card img {
    height: 200px; 
    object-fit: cover; 
}
/* Cambia el color de cada palabra en el párrafo */
.text-start {
    text-align: left; 
    
}

.card-title{
    font-family: var(--font-text);
}

.card-text{
    font-size: 15px;
    font-family: var(--second-font);
}

/* Estilos para las palabras individuales en el título */
.word-1 {
    color: blue; /* Cambia el color de 'Articulos' a azul */
}

.word-2 {
    color: red; /* Cambia el color de 'recientes' a rojo */
}
/*style for about*/
.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.team-member {
    text-align: center;
}

.team-member h5 {
    margin-top: 15px;
    font-weight: bold;
}

.team-member p {
    font-style: italic;
}

.text-center h2 {
  color: var(--color-text);
  font-family: var(--font-text);
}

/* Ajusta el estilo de la sección */
.video-container {
    max-width: 100%;
    height: auto;
}

.video-container video {
    width: 100%;
    height: auto;
}

/*style for section container(quienes somos)*/


.mb-4 {
    font-family: var(--font-text);
    color: var(--secondo-color);
    font-size: 35PX;
}

.lead{
    font-family: var(--second-font);
    color: black;
}
