* {
    margin: 0;
}

body{
    background-color: #fff;
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
    box-sizing: border-box;

}

main{
    overflow: hidden;
}

.banner-section{
    margin-top: 10vh;
    background-image: url("/assets/Bikerlog-image-main.png");
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;

}

.banner-section h1{
    color: #fff;
}

.banner-section p{
    color: #fff;
}

/*styles for card*/
.card {
    height: 100%;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}