* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorPrimary: ;
    --backgroundColor:;
    --font:;
    --nav: #2A4858;
}
/*styles for  body*/
body {
    width: 100vw;
    height: auto;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px; 
    background-color: var(--nav);
    height: 65px; /* Establecemos una altura fija para el nav */
}

.logo img {
    width: 100px; /* Ajusta el tamaño del logo si es necesario */
}

.nav-links {
    list-style: none;
    display: flex; 
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px; /* Ajustamos el padding de los enlaces */
    border-radius: 10px;
}

/* Estilo específico para el botón de "Home" */
#home-button {
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 10px 20px;  
}

#home-button:hover {
    background-color: #F07E00;
}

.nav-links a:hover {
    color: #f0a500;
}
.container-Baner {
    position: relative;
    width: 100vw;
    height: calc(100vh - 60px); 
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    overflow: hidden;
}

.container-Baner img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1; 
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido hacia la izquierda */
    padding-left: 50px; /* Espaciado a la izquierda del contenido */
    color: white;
    z-index: 1; /* Asegura que el contenido esté por encima de la imagen */
}

.banner-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.banner-content h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.btn {
    padding: 15px 30px;
    background-color: #F07E00;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #e59400;
}